<a href="https://colab.research.google.com/github/nandinijirobe/Allstate_AIStudio_Project/blob/main/Allstate_AI_Studio_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Import Packages**

In [34]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [35]:
import pandas as pd
import numpy as np
import os
from google.colab import drive

# **Part 1: Load the Data Set**
Note: To be able to access the Fire Data in this Colab, you must add the shared drive with the data files as a shortcut to your personal drive

In [36]:
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [37]:
df1 = pd.DataFrame()
df2 = pd.DataFrame()
df3 = pd.DataFrame()
df4 = pd.DataFrame()
df5 = pd.DataFrame()

for year in range(1992, 1997):
  file_path = f'/content/drive/My Drive/Allstate (VIR) - Wildfire Incidence and Property Insurance: A Data-Driven Analysis (Team B)/AllstateDataFiles/fires_'+str(year)+ '.csv'
  new_data = pd.read_csv(file_path)
  df1 = pd.concat([df1, new_data], axis=0)

for year in range(1998, 2003):
  file_path = f'/content/drive/My Drive/Allstate (VIR) - Wildfire Incidence and Property Insurance: A Data-Driven Analysis (Team B)/AllstateDataFiles/fires_'+str(year)+ '.csv'
  new_data = pd.read_csv(file_path)
  df2 = pd.concat([df2, new_data], axis=0)

for year in range(2004, 2009):
  file_path = f'/content/drive/My Drive/Allstate (VIR) - Wildfire Incidence and Property Insurance: A Data-Driven Analysis (Team B)/AllstateDataFiles/fires_'+str(year)+ '.csv'
  new_data = pd.read_csv(file_path)
  df3 = pd.concat([df3, new_data], axis=0)

for year in range(2010, 2015):
  file_path = f'/content/drive/My Drive/Allstate (VIR) - Wildfire Incidence and Property Insurance: A Data-Driven Analysis (Team B)/AllstateDataFiles/fires_'+str(year)+ '.csv'
  new_data = pd.read_csv(file_path)
  df4 = pd.concat([df4, new_data], axis=0)

<ipython-input-37-2566c6f58082>:9: DtypeWarning: Columns (11,29) have mixed types. Specify dtype option on import or set low_memory=False.
  new_data = pd.read_csv(file_path)
<ipython-input-37-2566c6f58082>:9: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  new_data = pd.read_csv(file_path)
<ipython-input-37-2566c6f58082>:9: DtypeWarning: Columns (11,29) have mixed types. Specify dtype option on import or set low_memory=False.
  new_data = pd.read_csv(file_path)
<ipython-input-37-2566c6f58082>:9: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  new_data = pd.read_csv(file_path)
<ipython-input-37-2566c6f58082>:9: DtypeWarning: Columns (11,29) have mixed types. Specify dtype option on import or set low_memory=False.
  new_data = pd.read_csv(file_path)
<ipython-input-37-2566c6f58082>:14: DtypeWarning: Columns (11,19,29,31) have mixed types. Specify dtype option on import or set low_memory=False.
  new_data = pd.read_csv(file_path)
<ipython-input-37-2566c6f58082>:14: DtypeWarning: Columns (11,19,29,31) have mixed types. Specify dtype option on import or set low_memory=False.
  new_data = pd.read_csv(file_path)
<ipython-input-37-2566c6f58082>:14: DtypeWarning: Columns (11,19,29,31) have mixed types. Specify dtype option on import or set low_memory=False.
  new_data = pd.read_csv(file_path)
<ipython-input-37-2566c6f58082>:14: DtypeWarning: Columns (11,19,29,31) have mixed types. Specify dtype option on import or set low_memory=False.
  new_data = pd.read_csv(file_path)
<ipython-input-37-2566c6f58082>:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  new_data = pd.read_csv(file_path)
<ipython-input-37-2566c6f58082>:19: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  new_data = pd.read_csv(file_path)
<ipython-input-37-2566c6f58082>:19: DtypeWarning: Columns (11,19,29) have mixed types. Specify dtype option on import or set low_memory=False.
  new_data = pd.read_csv(file_path)
<ipython-input-37-2566c6f58082>:19: DtypeWarning: Columns (11,19) have mixed types. Specify dtype option on import or set low_memory=False.
  new_data = pd.read_csv(file_path)
<ipython-input-37-2566c6f58082>:19: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  new_data = pd.read_csv(file_path)
<ipython-input-37-2566c6f58082>:24: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  new_data = pd.read_csv(file_path)
<ipython-input-37-2566c6f58082>:24: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  new_data = pd.read_csv(file_path)

# **Part 1.1: Inspecting the data**

In [38]:
# What is the size of my dataset?
print(df1.shape)
# What are my features and their datatypes?
print(df1.dtypes)
# View one of the dataframes
df1.head(5)

(352965, 49)
Unnamed: 0                      int64
OBJECTID                        int64
FOD_ID                          int64
FPA_ID                         object
SOURCE_SYSTEM_TYPE             object
SOURCE_SYSTEM                  object
NWCG_REPORTING_AGENCY          object
NWCG_REPORTING_UNIT_ID         object
NWCG_REPORTING_UNIT_NAME       object
SOURCE_REPORTING_UNIT          object
SOURCE_REPORTING_UNIT_NAME     object
LOCAL_INCIDENT_ID              object
FIRE_NAME                      object
FIRE_YEAR                       int64
DISCOVERY_DATE                 object
DISCOVERY_DOY                   int64
DISCOVERY_TIME                float64
STAT_CAUSE_CODE               float64
STAT_CAUSE_DESCR               object
CONT_DATE                      object
CONT_DOY                      float64
CONT_TIME                     float64
FIRE_SIZE                     float64
FIRE_SIZE_CLASS                object
LATITUDE                      float64
LONGITUDE                     float64
OWNER_CODE                    float64
OWNER_DESCR                    object
STATE                          object
COUNTY                         object
FIPS_CODE                     float64
FIPS_NAME                      object
agency_UnitId                  object
agency_GeographicArea          object
agency_Gacc                    object
agency_WildlandRole            object
agency_UnitType                object
agency_Department              object
agency_Agency                  object
agency_Country                 object
agency_State                   object
agency_Code                    object
agency_Name                    object
bbox_xmin                     float64
bbox_xmax                     float64
bbox_ymin                     float64
bbox_ymax                     float64
fips_state_cd                   int64
county_fips                     int64
dtype: object

,Unnamed: 0,OBJECTID,FOD_ID,FPA_ID,SOURCE_SYSTEM_TYPE,SOURCE_SYSTEM,NWCG_REPORTING_AGENCY,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,...,agency_Country,agency_State,agency_Code,agency_Name,bbox_xmin,bbox_xmax,bbox_ymin,bbox_ymax,fips_state_cd,county_fips
0,41875,41876,42087,FS-255009,FED,FS-FIRESTAT,FS,USMTBDF,Beaverhead/Deerlodge National Forest,0102,...,US,MT,BDF,Beaverhead/Deerlodge National Forest,-113.078346,-113.078331,45.359993,45.360001,30,0
1,41876,41877,42088,FS-255013,FED,FS-FIRESTAT,FS,USMTBDF,Beaverhead/Deerlodge National Forest,0102,...,US,MT,BDF,Beaverhead/Deerlodge National Forest,-112.683334,-112.683319,44.539993,44.540001,30,0
2,41877,41878,42089,FS-255017,FED,FS-FIRESTAT,FS,USMTBDF,Beaverhead/Deerlodge National Forest,0102,...,US,MT,BDF,Beaverhead/Deerlodge National Forest,-112.983345,-112.983330,44.516666,44.516670,30,0
3,41878,41879,42090,FS-255018,FED,FS-FIRESTAT,FS,USMTBDF,Beaverhead/Deerlodge National Forest,0102,...,US,MT,BDF,Beaverhead/Deerlodge National Forest,-112.730003,-112.729988,44.689999,44.690006,30,0
4,41879,41880,42091,FS-255024,FED,FS-FIRESTAT,FS,USMTBDF,Beaverhead/Deerlodge National Forest,0102,...,US,MT,BDF,Beaverhead/Deerlodge National Forest,-112.820015,-112.820000,45.763332,45.763340,30,0

In [39]:
# Inspecting columns LATITUDE, LONGITUDE, STATE, COUNTY, FIPS_CODE, FIPS_NAME, bbox_xmin,bbox_xmax, bbox_ymin, bbox_ymax, county_fips
# Latitude from 19.50139 to 64.85694 and longitude from -161.75583 to -68.01197 in the USA
col_list1 = ['LATITUDE', 'LONGITUDE', 'STATE', 'COUNTY', 'FIPS_CODE', 'FIPS_NAME', 'bbox_xmin','bbox_xmax', 'bbox_ymin', 'bbox_ymax', 'county_fips']
df_summ1 = df1[col_list1].describe(include='all')
df_summ1
# Columns with county_fips = 0 will be removed
# county_fips info: https://transition.fcc.gov/oet/info/maps/census/fips/fips.txt

,LATITUDE,LONGITUDE,STATE,COUNTY,FIPS_CODE,FIPS_NAME,bbox_xmin,bbox_xmax,bbox_ymin,bbox_ymax,county_fips
count,352965.000000,352965.000000,352965,186196,186196.000000,186196,352965.000000,352965.000000,352965.000000,352965.000000,352965.000000
unique,NaN,NaN,52,1098,NaN,851,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,CA,McCurtain,NaN,Cherokee,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,44311,1893,NaN,2186,NaN,NaN,NaN,NaN,NaN
mean,37.018148,-97.411178,NaN,NaN,89.763701,NaN,-97.411185,-97.411171,37.018145,37.018150,14585.127823
std,5.801915,16.626824,NaN,NaN,84.367257,NaN,16.626825,16.626823,5.801914,5.801915,18190.931858
min,17.983333,-166.869400,NaN,NaN,1.000000,NaN,-166.869400,-166.869385,17.983332,17.983334,0.000000
25%,33.143700,-113.076910,NaN,NaN,29.000000,NaN,-113.076912,-113.076897,33.143700,33.143703,0.000000
50%,35.198333,-92.130828,NaN,NaN,69.000000,NaN,-92.130829,-92.130821,35.198330,35.198334,1121.000000
75%,40.433300,-82.560000,NaN,NaN,119.000000,NaN,-82.560013,-82.559998,40.433296,40.433300,28073.000000
max,69.849500,-65.333333,NaN,NaN,810.000000,NaN,-65.333336,-65.333328,69.849495,69.849503,56045.000000

# **Part 2: Data Understanding & Data Preparation**
Resources: Unit 2 of Machine Learning Foundations

**In this section we are going to the following:**
1.   Perform exploratory data analysis (EDA) to understand our data, identify key variables, and assess data quality.
2.   Clean and preprocess your data, handle missing values and outliers, and transform our data into a suitable format for modeling.

**Tasks for this month:**
1. Define the problem: What problem is the model solving? What is the label that is being predicted?
2. Remove columns we know for sure will not help the machine learning model
3. Checking for missing data and fix it
4. Feature engineering/transformation?
4. Data Visualization: see which feature correlate with the label the most, remove outliers, look for skews, observe distribution
3. Data Cleaning: Clean datasets appropriately depending on above results

**Notes about expectations and datasets:**
*  Goal: Understand the factors influencing the frequency and severity of wildfires and how these factors pose as potential risks for the property insurance  industry.
*  We would like to know where we should start offering and stop offering home insurance.
*  There is over a million examples in the fire dataset. It contains info about which counties and states wildfires have occured, the severity and the cause.
*  We have been given county_level_population dataset which shares a common column with fires datasets: county_fips.

**Things we can predict using machine learning:**
*  We can predict the *cause* of the wild fire based on the region, month, date and time.
*  We can predict the *severity* of wild fire based on cause, region, month, date and time. We can use this information with the county_level_population dataset to understand how Allstate homes will affected.

**Questions**
1.   What does the allstate_policies and allstate_pif_fraction mean?
2.   Are any class imbalance issues in this dataset? (chapter 2.1)

In [40]:
# Dropping unnecessary columns
drop_list = [
    "Unnamed: 0","OBJECTID", "FPA_ID", "SOURCE_SYSTEM_TYPE", "SOURCE_SYSTEM",
    "NWCG_REPORTING_AGENCY", "NWCG_REPORTING_UNIT_ID", "NWCG_REPORTING_UNIT_NAME", "SOURCE_REPORTING_UNIT",
    "SOURCE_REPORTING_UNIT_NAME", "LOCAL_INCIDENT_ID", "FIRE_NAME", "OWNER_CODE", "OWNER_DESCR", "fips_state_cd",
    "agency_UnitId", "agency_GeographicArea", "agency_Gacc", "agency_WildlandRole", "agency_UnitType",
    "agency_Department", "agency_Agency", "agency_Country", "agency_State", "agency_Code", "agency_Name", "STAT_CAUSE_DESCR"
]

def drop_unnecessary_columns(df):
    df.drop(drop_list, axis=1,  inplace = True)
    return df

In [41]:
def round_col_values(df, col_name, num_dec):
  df = df.round({col_name: num_dec})
  return df

def remove_null_county_fips(df):
  df = df[df['county_fips'] != 0]
  return df

# TODO: Add other different cleaning functions here
def encode_fire_cause(df):
  fire_cause_one_hot = pd.get_dummies(df['STAT_CAUSE_CODE'])
  fire_cause_one_hot.rename(columns={1: "Cause 1", 2: "Cause 2", 3: "Cause 3", 4: "Cause 4", 5: "Cause 5", 6: "Cause 6",
                                     7: "Cause 7", 8: "Cause 8", 9: "Cause 9", 10: "Cause 10", 11: "Cause 11", 12: "Cause 12", 13: "Cause 13"}, inplace=True)
  #fire_cause_one_hot.head()
  df = df.join(fire_cause_one_hot)
  return df

def contained_same_day(df):
  df['contained_same_day'] = np.where(df['DISCOVERY_DATE'] == df['CONT_DATE'], True, False)
  return df

def fire_contained_date(df):
  #df['CONT_DATE'] = pd.to_datetime(df['CONT_DATE'], errors='coerce')
  df['Contained Month'] = df['CONT_DATE'].str[5:7]
  df['Contained Day'] = df['CONT_DATE'].str[8:]
  return df

def fire_discovery_date(df):
  df['Discovery Month'] = df['DISCOVERY_DATE'].str[5:7]
  df['Discovery Day'] = df['DISCOVERY_DATE'].str[8:]
  return df

In [42]:
def clean_this_df(df):
  # TODO: apply more functions to df here
  df = drop_unnecessary_columns(df)
  for col in ['LONGITUDE', 'LATITUDE', 'bbox_xmin','bbox_xmax','bbox_ymin','bbox_ymax']:
    df = round_col_values(df, col, 2)
  df = remove_null_county_fips(df)
  df = encode_fire_cause(df)
  df = contained_same_day(df)
  df = fire_contained_date(df)
  df = fire_discovery_date(df)
  return df

In [43]:
# TODO: Why doesn't this function update dfs in a list?
#  def clean_all_dfs(df_list):
#   for i, df in enumerate(df_list):
#     df_list[i] = clean_this_df(df_list[i])
#   return df_list

# Clean each df:
df1 = clean_this_df(df1)
df2 = clean_this_df(df2)
df3 = clean_this_df(df3)
df4 = clean_this_df(df4)

In [44]:
df1.head(5)

,FOD_ID,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,DISCOVERY_TIME,STAT_CAUSE_CODE,CONT_DATE,CONT_DOY,CONT_TIME,FIRE_SIZE,...,Cause 9,Cause 10,Cause 11,Cause 12,Cause 13,contained_same_day,Contained Month,Contained Day,Discovery Month,Discovery Day
124,53880,1993,1993-08-09,221,1200.0,5.0,1993-08-13,225.0,1700.0,7.0,...,0,0,0,0,0,False,08,13,08,09
718,54485,1993,1993-06-15,166,1530.0,1.0,1993-06-16,167.0,945.0,0.1,...,0,0,0,0,0,False,06,16,06,15
718,54485,1993,1993-06-15,166,1530.0,1.0,1993-06-16,167.0,945.0,0.1,...,0,0,0,0,0,False,06,16,06,15
718,86328,1996,1996-07-09,191,1407.0,1.0,1996-07-10,192.0,200.0,0.1,...,0,0,0,0,0,False,07,10,07,09
718,86328,1996,1996-07-09,191,1407.0,1.0,1996-07-10,192.0,200.0,0.1,...,0,0,0,0,0,False,07,10,07,09

In [ ]:
# Change/Add df1 to view summary of other dfs
df_summ1 = df1.describe(include='all')
df_summ1

,FOD_ID,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,DISCOVERY_TIME,STAT_CAUSE_CODE,CONT_DATE,CONT_DOY,CONT_TIME,FIRE_SIZE,...,Cause 5,Cause 6,Cause 7,Cause 8,Cause 9,Cause 10,Cause 11,Cause 12,Cause 13,contained_same_day
count,6.786080e+05,678608.000000,678608,678608.000000,371231.000000,678608.000000,461461,461461.000000,371760.000000,678608.000000,...,678608.000000,678608.000000,678608.000000,678608.000000,678608.000000,678608.000000,678608.000000,678608.000000,678608.000000,678608
unique,NaN,NaN,1826,NaN,NaN,NaN,1825,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,NaN,1992-03-02,NaN,NaN,NaN,1992-03-02,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
freq,NaN,NaN,2907,NaN,NaN,NaN,2500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,441003
mean,5.223695e+06,1994.105310,NaN,141.471167,1453.228523,7.426102,NaN,138.589942,1494.002889,14.344873,...,0.251155,0.044786,0.185366,0.033323,0.063685,0.001043,0.000662,0.000209,0.260496,NaN
std,9.229560e+06,1.439729,NaN,92.817998,350.059402,3.784413,NaN,94.574048,381.329463,227.156465,...,0.433678,0.206833,0.388595,0.179478,0.244191,0.032284,0.025714,0.014464,0.438906,NaN
min,4.395600e+04,1992.000000,NaN,1.000000,0.000000,1.000000,NaN,1.000000,0.000000,0.010000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,7.877818e+05,1993.000000,NaN,69.000000,1300.000000,5.000000,NaN,65.000000,1224.000000,0.300000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
50%,8.776250e+05,1994.000000,NaN,112.000000,1440.000000,7.000000,NaN,106.000000,1519.000000,1.500000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
75%,1.803333e+06,1995.000000,NaN,206.000000,1634.000000,13.000000,NaN,201.000000,1729.000000,5.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,NaN
max,3.003057e+08,1996.000000,NaN,366.000000,2359.000000,13.000000,NaN,366.000000,2359.000000,70000.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN

# **OTHER CODE:**

In [ ]:
# df['STAT_CAUSE_CODE'].isna().sum()

In [ ]:
# for i in range(1992, 2016):
#   fire_cause_one_hot = pd.get_dummies(df['STAT_CAUSE_CODE'][])
#   fire_cause_one_hot.rename(columns={1: "Cause 1", 2: "Cause 2", 3: "Cause 3", 4: "Cause 4", 5: "Cause 5", 6: "Cause 6",
#                                     7: "Cause 7", 8: "Cause 8", 9: "Cause 9", 10: "Cause 10", 11: "Cause 11", 12: "Cause 12", 13: "Cause 13"}, inplace=True)
#   fire_cause_one_hot.head()
#   df = df.join(fire_cause_one_hot)
#   df.head()